body{
    background: rgb(204,174,238);
background: radial-gradient(circle, rgba(204,174,238,1) 0%, rgba(148,180,233,1) 100%);
    margin: 1%;
}


header{

   
}

h1{
    background-color: black;
    text-align: center;
    font-style: italic;
   font-family: 'Times New Roman', Times, serif;
   font-size: 4em;
   color: aliceblue;
}

h2{
    padding-left: 3%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', sans-serif;
    font-size: 2em;
}

main{
    margin-right: 4%;
    margin-left: 4%;
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
    font-size: 105%;
    text-indent: 2em;
}

footer{
    
    padding-left: 20%;
    background-color: black;
    color: aliceblue;
}
img{
    width: 38%;
    height: 10%;
    border: solid 5px;
    margin-top: 3%;
    margin-left: 5%;
}